html{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: wheat;
  text-align: center;
}
input{
  min-width:8rem;
  width:30%;
  margin:0.5rem;
  background: transparent;
  border:none;
  outline: none;
  border-bottom: 0.2rem solid rgba(0,0,0,0.4);
}
button{
  width:5rem;
  height:1.5rem;
  background-color: beige;
  outline:none;
  border:none;
  outline:none;
  border-radius: 40%;
}
button:hover{
  cursor: pointer;
}
.expand-btn{
  background: transparent;
  position: absolute;
  font-size: 1.2rem;
  right:0rem;
  top:1rem;
}
.container{
  width:100%;
  position: absolute;
  left:50%;
  top:10%;
  transform: translateX(-50%);
}
.search{
  margin-top:2rem;
  width:100%;
  display:flex;
  justify-content: space-evenly;
}
.studentsContainer{
 display:grid;
 grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
 grid-column-gap: 1rem;
 grid-row-gap: 1rem;
 margin:1rem 1rem;
 
}
.studentContainer{
  position: relative;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
  text-align: center;
  padding-top:1rem;
  padding-bottom: 1rem;
}
